@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Dokdo", cursive;
  font-weight: 400;
  font-size: 11.5rem;
  color: #FFC600;
  margin: 0;
  float: right;
}

h2 {
  font-family: "Dokdo", cursive;
  font-weight: 400;
  font-size: 10.5rem;
  color: #FFC600;
  margin: 0;
  line-height: 6.96rem;
  letter-spacing: 1.009rem;
}

h3 {
  font-family: "Dokdo", cursive;
  font-weight: 400;
  font-size: 4.5rem;
  color: #FFC600;
  margin: 0;
  line-height: 5.8rem;
  letter-spacing: 0.49rem;
}

h4 {
  font-family: "Dokdo", cursive;
  font-weight: 400;
  font-size: 4.15rem;
  color: #FFC600;
  margin: 0;
}

h5 {
  font-family: "Dokdo", cursive;
  font-weight: 400;
  font-size: 4rem;
  color: #FFC600;
  margin: 0;
  line-height: 5.8px;
  letter-spacing: 0.43px;
  padding-bottom: 1rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #FAFFFE;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
  margin-top: 0;
}

.buttonAnchor {
  font-family: "Dokdo", cursive;
  background-color: #555F02;
  color: #FAFFFE;
  padding: 2%;
  text-transform: capitalize;
  font-size: 2rem;
}

nav ul {
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2.9rem;
  float: right;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #FAFFFE;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 1rem;
  margin-top: 0;
}

.selected {
  color: #FFC600;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

.hamburgerMenu {
  position: absolute;
  background-color: rgba(38, 39, 37, 0.8);
  top: 2rem;
  right: 2rem;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
}

.hamburgerMenu a {
  font-family: "Lato", sans-serif;
  display: block;
  padding: 2rem;
}

.hamburgerMenu a:hover,
.hamburgerMenu a:focus {
  background-color: #FFC600;
  border-radius: 15px;
  color: #FAFFFE;
  -webkit-transition: background-color 0.6s ease-out, color 0.6s ease-out;
  transition: background-color 0.6s ease-out, color 0.6s ease-out;
}

.burgerButton {
  display: none;
  background: transparent;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.headerHome {
  background-image: url(../mindnsoul-assets/home-image-1.jpg);
  background-size: cover;
  position: relative;
  height: 90vh;
}

header h4 {
  float: left;
}

.image1 {
  width: 25%;
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.adventure {
  background-color: #1E140E;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas: "adventureText adventureImg";
  margin: 0 auto;
}

.adventureText {
  width: 80%;
  margin: 5% auto;
}

.adventureImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adventurePic {
  width: 50%;
  margin: auto;
  -webkit-box-shadow: -1rem 1rem 0 #555F02;
          box-shadow: -1rem 1rem 0 #555F02;
}

.yogaGallery {
  background-color: #262725;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.yogaGallery1 {
  grid-column-start: 2;
}

.yogaGallery1:hover,
.yogaGallery1:focus {
  opacity: 0.5;
}

.yogaGallery2 {
  grid-column-start: 3;
}

.yogaGallery2:hover,
.yogaGallery2:focus {
  opacity: 0.5;
}

.yogaGallery3 {
  grid-column-start: 4;
}

.yogaGallery3:hover,
.yogaGallery3:focus {
  opacity: 0.5;
}

.customOffers {
  background-color: #1E140E;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  padding: 4%;
}

.customOffers i {
  color: #FAFFFE;
  background-color: #555F02;
  padding: 8px;
  border-radius: 50%;
  font-size: 2rem;
}

.customOffers i:hover,
.customOffers i:focus {
  background-color: #FAFFFE;
  color: #555F02;
}

i + h5 {
  display: inline-block;
}

.programs {
  background-color: #262725;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 50px;
  position: relative;
}

.groupImg {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 8;
  position: absolute;
  top: -40px;
  left: 0;
  -webkit-box-shadow: 1rem 1rem 0 #FFC600;
          box-shadow: 1rem 1rem 0 #FFC600;
  display: block;
  font-size: 0;
}

.groupText {
  grid-row-start: 7;
  grid-row-end: 15;
  grid-column-start: 1;
  grid-column-end: 7;
  padding: 2rem;
  margin-top: 1rem;
}

.locationText {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 7;
  padding-top: 2rem;
}

.locationImg {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 7;
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 0;
  -webkit-box-shadow: -1rem 1rem 0 #FFC600;
          box-shadow: -1rem 1rem 0 #FFC600;
}

.trials {
  background-color: #1E140E;
  height: auto;
  margin: 0 auto;
}

.trials h5 {
  text-align: center;
}

.trialsText {
  width: 70%;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
  height: auto;
}

footer p {
  background-color: #262725;
  text-align: center;
  margin: 0;
}

.contactHeader {
  background-image: url(../mindnsoul-assets/contact-image-1.jpg);
  height: 90vh;
}

.contactHeader h2 {
  grid-column-end: 13;
  padding-top: 10%;
}

.contactBody {
  background-color: #1E140E;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-auto-rows: 50px;
}

.contactBox {
  position: absolute;
  grid-column-start: 1;
  grid-column-end: 10;
  top: -8rem;
  left: 0;
  background-color: #262725;
  width: 50vw;
  margin-left: 5%;
  padding: 4rem;
  -webkit-box-shadow: 1rem 1rem 0 #FFC600;
          box-shadow: 1rem 1rem 0 #FFC600;
}

.contactForm input,
.contactForm textarea {
  margin: 0 auto;
  background-color: #262725;
}

input#name,
input#email {
  margin: 0 5% 8% 0;
  border-width: 0 0 2px;
  border-color: #FFC600;
  width: 40%;
  color: #FAFFFE;
  font-size: 2rem;
}

textarea#message {
  border: 2px #FFC600 solid;
  color: #FAFFFE;
  font-size: 2rem;
  margin-bottom: 5%;
  resize: none;
  width: 90%;
  height: 10rem;
}

button {
  background-color: #555F02;
  color: #FFC600;
  border: none;
  width: 90%;
  height: auto;
  padding: 1rem;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
}

.buttonAnchor:hover,
.buttonAnchor:focus {
  background-color: #FAFFFE;
  color: #555F02;
}

.contactInfo {
  width: auto;
  height: auto;
  padding: 4rem;
  grid-column-start: 12;
}

.contactInfo i {
  color: #FFC600;
  font-size: 2rem;
}

.headerBlog {
  background-image: url(../mindnsoul-assets/blog-image-1.jpg);
  height: 90vh;
}

.headerBlog h2 {
  padding-top: 10rem;
}

.bodyBlog {
  background-color: #1E140E;
}

.containerBlog {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2fr, 1fr, 1fr;
  row-gap: 30px;
}

.discover {
  grid-column-start: 1;
  grid-column-end: 8;
}

.discoverImg {
  width: 98%;
  -webkit-box-shadow: 1rem 1rem 0 #555F02;
          box-shadow: 1rem 1rem 0 #555F02;
}

.discoverText {
  border-style: none solid solid none;
  border-width: 4px;
  border-color: #555F02;
}

.discover h3 {
  margin: 0;
}

.discover p {
  width: 90%;
  margin: 0 auto;
}

.title {
  font-family: "Dokdo", cursive;
}

.mission {
  grid-column-start: 10;
  grid-column-end: 13;
}

.missionImg {
  margin-right: 0;
  display: block;
  border-bottom: 0;
  -webkit-box-shadow: -1rem 1rem 0 #555F02;
          box-shadow: -1rem 1rem 0 #555F02;
}

.missionText {
  background-color: #555F02;
  padding-top: 4%;
  margin: 0 auto;
}

.missionList {
  color: #FAFFFE;
  list-style: none;
  font-size: 1.5rem;
}

.missionList li:before {
  content: "•";
  color: #FFC600;
  padding-right: 0.5rem;
}

.comments {
  grid-column-start: 2;
  grid-column-end: 8;
}

.comments h5 {
  color: #FAFFFE;
  padding-bottom: 2rem;
}

.davin,
.lisa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.davin img,
.lisa img {
  height: 50%;
}

.comments p span {
  color: #FFC600;
}

.blogBox {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 8;
  margin-bottom: 40px;
}

.blogForm input,
.blogForm textarea {
  background-color: #1E140E;
}

.submit:hover,
.submit:focus {
  background-color: #FFC600;
  color: #555F02;
}

@media (max-width: 950px) {
  .programs {
    height: auto;
    display: grid;
    position: relative;
  }

  .programs h5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .groupImg,
.locationImg {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .groupImg {
    top: 0;
    left: 0;
  }

  .locationImg {
    grid-column-start: 1;
    grid-column-end: 6;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .groupText {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 10;
  }

  .locationText {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 11;
    grid-row-end: 20;
  }

  .groupText,
.locationText {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contactBody {
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 50px;
  }

  .contactBox {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 0;
    width: 90vw;
  }

  input#name,
input#email,
textarea#message {
    width: 100%;
  }

  .contactInfo {
    grid-row-start: 11;
    grid-row-end: 21;
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    padding-bottom: 2rem;
  }

  .contactInfo br {
    display: none;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 10.5rem;
  }

  h4 {
    visibility: hidden;
  }
}
@media (max-width: 845px) {
  .customOffers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .groupImg,
.locationImg {
    display: none;
  }

  .groupText,
.locationText {
    width: 90vw;
    grid-column-start: 1;
  }

  .discover {
    grid-column-start: 1;
    grid-column-end: 12;
  }

  .mission {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 10;
  }

  .blogBox {
    grid-column-start: 2;
    grid-column-end: 11;
  }

  .comments {
    grid-column-start: 2;
    grid-column-end: 11;
  }
}
@media (max-width: 700px) {
  header nav {
    visibility: hidden;
  }

  .burgerButton {
    display: block;
  }

  .hamburgerMenu {
    display: none;
  }

  h1 {
    visibility: hidden;
  }

  h4 {
    visibility: visible;
  }
}
@media (max-width: 550px) {
  h2 {
    font-size: 9rem;
  }
}
@media (max-width: 465px) {
  h3 {
    letter-spacing: 0.01rem;
    font-size: 3.5rem;
  }

  h5 {
    line-height: 2.5rem;
  }

  .groupText {
    grid-row-end: 14;
  }

  .locationText {
    grid-row-start: 15;
    grid-row-end: 30;
  }

  .trialsText {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 380px) {
  .image1,
.adventurePic {
    display: none;
  }

  .adventureText {
    width: 100%;
  }
}